<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- For settings see https://github.com/nlog/NLog/wiki -->
  <variable name="logDir" value="${basedir}/logs/${shortdate}"/>
  <variable name="logLayout" value="${date:format=HH\:mm\:ss} | ${uppercase:${level}} | ${message} | ${exception}"/>

  <targets>
    <target name="asyncFileDebug" xsi:type="AsyncWrapper">
      <target name="*" xsi:type="File" fileName="${logDir}/debug.txt" layout="${logLayout}" />
    </target>
    <target name="asyncFileInfo" xsi:type="AsyncWrapper">
      <target name="*" xsi:type="File" fileName="${logDir}/info.txt" layout="${logLayout}" />
    </target>
    <target name="asyncFileError" xsi:type="AsyncWrapper">
      <target name="*" xsi:type="File" fileName="${logDir}/error.txt" layout="${logLayout}" />
    </target>
  </targets>

  <rules>
    <!-- Trace, Debug, Info, Warn, Error and Fatal -->
    <logger name="*" levels="Trace,Debug" writeTo="asyncFileDebug" />
    <logger name="*" levels="Info,Warn" writeTo="asyncFileInfo" />
    <logger name="*" levels="Error,Fatal" writeTo="asyncFileError" />
  </rules>
</nlog>
